build/
.idea/
.vscode/
a.out
*.out
*.o

#myFiles directory
myFiles/scratch
myFiles/scratch.cpp
myFiles/a.out
myFiles/extractWRFData3
myFiles/grib_print_data.o
myFiles/test1
myFiles/threadedExtractWRFData1
myFiles/coutLines.py
myFiles/threadingTest.cpp
myFiles/test1.cpp
myFiles/importGribTest.cpp
myFiles/.idea/
myFiles/cmake-build-debug/


gribFiles/a.out
gribFiles/grib_get_data.o
gribFiles/output-10-14.zip